body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}

.photo img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2vh;
}

.skill-set {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
  margin-bottom: 2vh;
  border: 1px solid #ccc;
  padding: 2vh;
  border-radius: 2vh;
  background-color: white;
}

.skill-element {
  font-size: 1.2vh;
  background-color: #e0e0e0;
  padding: 1vh 2vh;
  border-radius: 3vh;
  color: #333;
}

.position, .name {
  width: 12vw; /* Устанавливаем ширину в зависимости от ширины экрана */
  max-width: 400px; /* Ограничиваем максимальную ширину */
  border-radius: 1vh;
  margin-bottom: 2vh;
  font-size: 1.8vh;
  text-align: center;
  box-sizing: border-box; /* Включаем padding и border в общую ширину */
}

.position {
  border: 2.4px solid #666;
  border-radius: 3.6vh;
  background-color: #333;
  color: white;
  padding: 1.2vh 1.8vh;
}

.name {
  border: 2.4px solid #ccc;
  border-radius: 3.6vh;
  background-color: #ffffff;
  color: #333;
  padding: 1.2vh 1.8vh;
}

/* Experience */
.experience {
  padding: 1.2vh;
  text-align: left;
  width: 25vw; /* Устанавливаем ширину для всего блока */
  max-width: 600px; /* Ограничиваем максимальную ширину */
  margin: 0 auto; /* Центрируем блок */
}

.experience-title {
  background-color: transparent; /* Устанавливаем прозрачный фон */
  color: #333; /* Изменяем цвет текста на темный */
  padding: 1vh 0; /* Убираем боковые отступы */
  border: none; /* Убираем все границы */
  border-bottom: 2.4px solid #666; /* Добавляем границу только снизу */
  margin-bottom: 1vh;
  font-size: 1.8vh;
  text-align: center;
  width: 70%; /* Устанавливаем меньшую ширину для title */
  margin-right: auto;
  margin-left: auto; 
}


.experience-info {
  background-color: #ffffff;
  border: 2.4px solid #ccc;
  padding: 2.4vh;
  padding-top: 0.6vh;
  border-radius: 1vh; /* Закругляем границы */
  width: 100%; /* Устанавливаем ширину для информационного блока */
  box-sizing: border-box; /* Включаем padding и border в общую ширину */
  position: relative; /* Для добавления линии между блоками */
}

.experience-info h3 {
  font-size: 1.6vh;
  margin-bottom: 0.2vh; /* Убираем margin-top */
}

.experience-info p, .experience-info ul {
  font-size: 1.2vh;
  margin: 0.6vh 0;
}

.experience-info ul {
  list-style-type: disc;
  padding-left: 2vh;
}

.experience-info a {
  color: #274c77;
  text-decoration: none;
}

.experience-info a:hover {
  text-decoration: underline;
}

/* Стили для ссылок на одной линии */
.experience-info .links {
  display: flex;
  justify-content: left;
  gap: 1vh;
  margin-top: 1vh;
  padding-left: 1vh;
  font-size: 1.4vh;
  text-align: left;
}

